/*
	by Evance
	http://www.Evance.name

*/
/*** html elements ***/

body {
	text-align: center;
	font-size: 13px;
	padding: 0px;
	margin: 0px;
	background: #FFF url(images/bg_body.jpg) repeat-x;
	line-height: 1.5em;
	padding-bottom: 40px;
	color: #494949;
}
a {
	text-decoration: none;
	color: #007AD9;
}
a:hover {
	text-decoration: underline;
}
h1,h2,h3,h4 {
	padding: 0px;
	margin: 0px;
	font-family: "Microsoft JhengHei","微軟正黑體","Microsoft Yahei","微软雅黑","黑体",arial,helvetica,sans-serif;
}
h1 {
	font-size: 1.8em;
}
h2 {
	font-size: 1.3em;
}
ul {
	padding: 0px;
	margin: 0px;
}
li {
	padding: 0px;
	margin: 0px;
}
fieldset {
	border: 1px solid #D9EAF5;
}
/** gloabal style **/

ul.primary li a {
	background: #F60;
	color: #FFF;
}
ul.primary li a:hover {
	background: #F60;
	color: #FFF;
}
ul.primary li a.active {
	color: #1D1D1D;
}
ul.primary li a.active:hover {

	color: #1D1D1D;

}
.form-submit {
	height: 32px;
	width: 140px;
	border: none;
	background: #1D1D1D url(images/bg_form-submit.jpg) repeat-x;
	color: #FFF;
	font-weight: bolder;
	font-family: "Courier New", Courier, monospace;
}
/** #header  **/
#header {
	width: 900px;
	height: 90px;
	background: #FFF;
	margin: 40px auto 0px;
}
	.header_left {
		height: 90px;
		float: left;
		background: #FFF;
		padding-left: 60px;
		background: url(images/bg_header_left.jpg) no-repeat left top;
	}
		.header_left h1 a:hover {
			text-decoration: none;
		}
	.header_right {
		float: right;
		background: #FFF;
	}

/** #main_menu **/
#main_menu {
	width: 900px;
	background: #FFF;
	margin: 0px auto;
	clear: both;
}
	#navlist {
		background: #FFF;
		height: auto;
		line-height: 48px;
		height: 48px;
		padding-right: 15px;
	}
		#navlist li {
			float: right;
			height: 48px;
			line-height: 48px;
			padding: 0px;
			margin: 0px 6px 0px;
		}
			#navlist li a {
				color: #FFF;
				display: block;
				padding: 0px 25px;
				font-weight: bolder;
				background: url(images/bg_main_menu.jpg) left;
			}
			#navlist li a:hover {
				color: #000;
				padding: 0px 25px;
				display: block;
				font-weight: bolder;
				text-decoration: none;
				background: url(images/bg_main_menu_hover.jpg) left;
			}
			#navlist li a.active {
				color: #F60;
				display: block;
				font-weight: bolder;
				padding: 0px 20px;
			}
			#navlist li a.active:hover {
				color: #FFF;
				text-decoration: none;
			}
/** #main_wrapper **/
#main_wrapper {
	width: 900px;
	margin: 0px auto;
	text-align: left;
	clear: both;
	height: auto;
}
	/** $siderbar_left **/

	#sidebar_left {
		width: 280px;
		float: left;
		background: #FFF;
		overflow: hidden;
	}
		#sidebar_left a {
			color: #666;
		}
		#sidebar_left .block {
			margin: 6px;
		}
			#sidebar_left .block ul {
				padding: 0px;
				margin: 0px;
			}
				#sidebar_left .block ul li {
					padding: 0px;
					margin:0pt 0pt 0.25em 1.5em;
				}
		#sidebar_left a.active {
			color: #007AD9;
			font-weight: bold;
			font-size: 110%;
		}
			#sidebar_left .block-comment a.active {
				color: #666;
			}

	.sidebar_left_footer {
		width: 100%;
		height: 40px;
	}
	/** #content_wrapper **/
	#content_wrapper {
		float: left;
		width: 620px;
		background: #FFF;
		overflow: hidden;
	}
		#content_top {
			margin: 0px 4px;
		}
		#main {
			margin: 0px 4px;
		}
			#main .sticky {
			}
			#main .node {
				padding: 20px 0px;
				border-bottom: 2px solid #007AD9;
				clear: both;
			}
				.node .node_info {
				}
				#node_inner_right {
					width: 284px;
					height: 300px;
					float: right;
					background: url(images/bg_node_inner_right.jpg) no-repeat;
				}
					#node_inner_right .gg_ad_code {
						width: 250px;
						height: 230px;
						overflow: hidden;
						margin: 20px 20px;
					}

			/** #comments  **/
			#comments .comment {
				margin-top: 12px;
			}
			#comments .indented {
				margin-left: 0px;
				padding-left: 25px;
			}
			.comment table {
				background: #FFF;
				width: 98%;
			}
			#comments tbody {
				border: none;
			}
				td.comment_author_name {
					width: 75px;
					padding: 10px 0px 0px 10px;
					background: url(images/bg_comment.gif) top left no-repeat #FFF;
				}
				td.comment_date {
					padding: 10px 10px 0px 0px;
					text-align: right;
					font-size: 11px;
					background: url(images/bg_comment.gif) top right no-repeat #FFF;
				}
				td.comment_author_avatar {
					width: 75px;
					background: url(images/bg_comment.gif) bottom left no-repeat #FFF;
					padding: 0px 0px 10px 10px;
				}
					td.comment_author_avatar div.picture {
						width: 48px;
						height: 48px;
					}
						td.comment_author_avatar div.picture a {
							display: block;
						}
							td.comment_author_avatar div.picture img {
								width: 46px;
								height: 46px;
								margin: 2px;
							}
				td.comment_content_detail {
					background: url(images/bg_comment.gif) bottom right no-repeat #FFF;
					padding: 0px 10px 10px 0px;
				}
			#comments div.links {
				text-align: right;
				font-size: 11px;
			}
				#comments div.links ul {
					padding: 0px;
					margin: 0px;
				}
				div.box .form-item label {
				display: inline;
				}
				div.box ul.tips {
					display: none;
				}
		.content_wrapper_footer {
			width: 100%;
			height: 60px;
			background: #EEE;
			background: url(images/bg_content_wrapper_footer.jpg) repeat-x;
		}
	#node_inner_bottom .google_ad_code {
		width: 580px;
		height: 70px;
		overflow: hidden; 
	}		

/** #footer **/

#footer_wrapper {
	clear: both;
	width: 900px;
	margin: 0px auto;
	padding-top: 20px;
}
	#footer {
		width: 750px;
		padding: 5px;
		margin: 0px auto;
	}

/** forum style **/

#forum table {
	border: 1px solid #EEE;
	margin-top: 1em;
	width: 99%;
}
#forum th {
	border: none;
}
#forum tbody {
	border: none;
}
#forum tr {
	border: none;
}
#forum td.container {
	background: #EEE;
	padding-left: 0.5em;
}
#forum tr.odd {
	background: #FFF;
}
#forum tr.even {
	background: #FFF;
}
#forum table tr.even td.icon,
#forum table tr.even td.topic,
#forum table tr.even td.replies,
#forum table tr.even td.created,
#forum table tr.even td.last-reply {
	background: #F6F6F6;
}
#forum table tr.odd td.last-reply {
	background: #FFF;
}
/** added block style **/